* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --p1: #000;
    --p2: #666;
    --p3: #ccc;
    --p4: #fff;
    --pt1: rgba(0, 0, 0, 0.3);
    --pt2: rgba(0, 0, 0, 0.7);
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}