#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .titulo {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
  }
  
  #tabuleiro-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #tabuleiro {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  
  .square {
    width: 60px;
    height: 60px;
    border: 2px solid var(--p2);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--p1);
    color: var(--p2);
  }