* {
    padding: 0%;
    margin: 0%;
}

.container{
    width: 100%;
    background:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    display: flex;
    margin: 10px;
    
    & .container2{
        text-align: left;
        width: 20%;
        padding: 15px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

}

.containerbody {
    background:  rgb(87, 138, 87);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .container3{
        width: 33%;
        padding: 300px;
        background: red;
    
    }
    
    & .container4{
        width: 33%;
        padding: 300px;
        background: green;
    }
    
    & .container5{
        width: 33%;
        padding: 300px;
        background: blue;
    }

}

.containertexto{
    background: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    & .divbanner2 img{
        width: 300px;
        height: auto;
        border-radius: 0px;
    }
    & .divtexto h2{
        text-align: center;
        justify-content: center;
        width: 100%;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 50px;
    }

}