:root {
    --p1: #f0f0f0;
    --p2: #814003;
    --p3: #ffffff;
    --p4: #c07346;
    --p5: #eacdb4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--p1);
    width: 100vw;
    height: 100vh;
    background-color: var(--p1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    a {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
}

section {
    margin: 40px auto;
    max-width: 800px;
    padding: 20px;
    background-color: var(--p3);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--p2);
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    nav ul {
        gap: 10px;
    }

    nav a {
        font-size: 16px;
    }

    section {
        width: 90%;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}